<header class="header" >
    {#{% block header %}#}
        {#<div class="wrapper">#}

{#{{bloginfo('name')}}#}
        <a href="/" title="Marc Wensauer - Freiberufler im Bereich Digitale Medien" rel="home">
            <h1 class="logo" role="banner">Marc Wensauer</h1>
            <h2>Freiberufler im Bereich Digitale Medien</h2>
        </a>

        {% include 'includes/navigation.twig' %}

        {#</div>#}
    {#{% endblock %}#}
</header>